#canvas1 {
  border: 5px solid black;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
}

#instructions{
  position: absolute;
  top: 30%;
  left: 30%;
  border: 5px solid black;
  padding: 20px;
  width: 240px;
  font-family: sans-serif;
  font-size: 30px;
}

.object {
 color: blue;
 font-weight: bold;
}
